let
  nixpkgs = fetchTarball "{{ nixpkgs_url | default('https://github.com/NixOS/nixpkgs/archive/nixos-unstable.tar.gz') }}";
  pkgs = import nixpkgs { config = {}; overlays = []; };
  nur = import (fetchTarball "{{ nur_url | default('https://github.com/nix-community/NUR/archive/master.tar.gz') }}") {
    inherit pkgs;
  };
in

with pkgs; [
{% for pkg in nix_packages | default([]) %}
  {{ pkg }}
{% endfor %}
]
